body {
  width: 80%;
  margin: 0 auto;
  background-color: chocolate;
  text-align: center;
}
li {
  font-weight: bold;
  list-style: none;
  margin-left: -40px;
}
div {
  background-color: bisque;
  margin-left: -40px;
}
input[name=id] {
  width: 35px;
}
input[name=isbn] {
  width: 120px;
}